body{
  font-family: 'Zara-Regular';
  height: 100vh;
  top: 0px;
  overflow: hidden;
}

#devant2{
  width: 100%;
  height: 0px;
  z-index: 3000;
  position: absolute;
}

.contentFont{
  padding: 43px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

#container{
  text-align: center;
  padding:43px;
  font-size: 100px;
}

@keyframes changement {
  from { font-family: '4Fromages-Gorgonzola'; }
  20% { font-family: '4Fromages-Cheddar'; }
  40% { font-family: '4Fromages-Granapadano'; }
  60% { font-family: '4Fromages-Parmigiano'; }
  to { font-family: "4Fromages-4Fromages(1)"; }
}

 #container{
  -webkit-animation-name: changement;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;

  animation-name: changement;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

/*RESPONSIVE*/

@media (max-width: 600px) {
  .menuContainer {
    margin-left: calc( ( 100vw - 186px ) / 2);
    right: auto;
  }
  #mireMiddleTop{
    display: none;
  }
  .modal-content{
    width: 65vw;
    height: 76vh;
  }
  #textModal{
    font-size: 2.6vw;
    line-height: 3.1vw;
  }
  #newsletter{
    width: 100%;
    margin-left:0%;
  }
}

}
