body{
  font-family: 'Zara-Regular';
  height: 100vh;
  top: 0px;
  overflow: hidden;
}

#devant2{
  width: 100%;
  height: 0px;
  z-index: 3000;
  position: absolute;
}

.contentFont{
  padding: 43px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

#container{
  text-align: center;
  padding:43px;
  font-family: "4Fromages";
  font-size: 30px;
}


/*RESPONSIVE*/

@media (max-width: 600px) {
  .menuContainer {
    margin-left: calc( ( 100vw - 186px ) / 2);
    right: auto;
  }
  #mireMiddleTop{
    display: none;
  }
  .modal-content{
    width: 65vw;
    height: 76vh;
  }
  #textModal{
    font-size: 2.6vw;
    line-height: 3.1vw;
  }
  #newsletter{
    width: 100%;
    margin-left:0%;
  }
}

}
