body{
  font-family: 'Zara-Regular';
  height: 100vh;
  overflow: hidden;
}

#fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@-webkit-keyframes spinner {
  from { -webkit-transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(-360deg); }
}

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

.element1Survol{
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
}

#punchline{
  width: 100vw;
  height: 60vh;
  padding-top: 15vh;
  box-sizing: border-box;
  z-index: 0;
}

#punchline div{
  height: 24vh;
  margin: auto;
}

#punchline div p{
  text-align: center;
  font-family: "Credible-Regular";
  font-size: 6.3vw;
  line-height: 8.5vw;
}

#punchline-quote{
  background-color:magenta;
  width: max-content;
  margin: auto;
  box-sizing: border-box;
  padding-left: 1%;
  padding-right: 1%;
  border: 1px solid white;
}

#punchline div #scroll{
  text-align: center;
  font-family: "Credible-Regular";
  font-size: 2vw;
}

#fond-barre{
  z-index: -30000;
  position: fixed;
  overflow: hidden;
}

.barre{
  display: inline-block;
  height: 100vh;
  width: 10vw;
}
.magenta{
  background-color: lightgray;
}

#grand-perso{
  font-family: "Credible-Regular";
  position: fixed;
  bottom: -4vw;
  font-size: 35vw;
  margin-left: 43px;
  color: grey;
}

/* FOOTER */

#footer{
  width: 100vw;
  font-family: "Credible-Regular";
  height: 40vh;
}

.footer-part{
  display: inline-block;
  box-sizing: border-box;
  padding-bottom: 43px;
}

#footer-middle{
  width: 50vw;
  margin-left: 40vw;
  font-size: 2vw;
  line-height: 2.7vw;
  text-align: left;
  bottom: 0px;
  position: fixed;
}

#footer-middle div{
  background-color: white;
  padding: 1%;
  box-sizing: border-box;
}

#footer-right{
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: calc( 20vw - 43px );
  margin-right: 43px;
}

#down2{
  font-feature-settings: "ss02";
}

.text {
  font-size: 23px;
  font-family: "Credible-Regular";
  padding-top: 23px;
}

/* FIN FOOTER */

/* RESPONSIVE */
@media (max-width: 1000px){
  #footer-middle {
    width: 80vw;
    margin-left: 43px;
    font-size: 3vw;
    line-height: 3.7vw;
  }

  #grand-perso {
    bottom: 14vw;
  }

}

@media (max-width: 800px) and (min-width: 580px){
#grand-perso {
    position: inherit;
    font-size: 55vw;
    margin-left: 24.25vw;
    padding-top: 30vh;
  }

}

@media (max-width: 580px){
  #footer-middle {
    width: 100vw;
    font-size: 3.5vw;
    line-height: 6.2vw;
    margin-left: 0px;
    padding: 43px;
    margin-bottom: 10vh;
  }

  #grand-perso {
    position: inherit;
    font-size: 55vw;
    margin-left: 24.25vw;
    padding-top: 30vh;
  }

}

@media (max-height: 500px){
#grand-perso {
  font-size: 25vw;
  }

}

@media (max-width: 600px) {
  .menuContainer {
    margin-left: calc( ( 100vw - 186px ) / 2);
    right: auto;
  }
  #mireMiddleTop{
    display: none;
  }
  .modal-content{
    width: 65vw;
    height: 76vh;
  }
  #textModal{
    font-size: 2.6vw;
    line-height: 3.1vw;
  }
  #newsletter{
    width: 100%;
    margin-left:0%;
  }
}
/*RESPONSIVE MENU*/
@media (max-width: 600px) {
  .menuContainer {
    margin-left: calc( ( 100vw - 186px ) / 2);
    right: auto;
  }
  #mireMiddleTop{
    display: none;
  }
  .modal-content{
    width: 65vw;
    height: 76vh;
  }
  #textModal{
    font-size: 2.6vw;
    line-height: 3.1vw;
  }
  #newsletter{
    width: 100%;
    margin-left:0%;
  }
}

/*MOBILE*/
@media all and (max-device-width: 480px)
{

#mireMiddleTop{
    display: block;
  }

#fixed, #grand-perso, #fond-barre, #button_download{
  display: none;
}

#mobile{
  display: block;
}

body{
  background-color: yellow;
  width: 100%;
  position: absolute;
  line-height: normal;
  overflow: auto;
}

#logofonderiedownload{
  width: calc( 100vw - 86px );
  margin-left: 43px;
  margin-top: 52px;
}

#about{
  margin-bottom: 86px;
}

h1{
  font-weight: normal;
  text-align: center;
  font-size: 8vw;
  border: 1px solid black;
  border-radius: 600px;
  background-color: white;
  padding: 3%;
  width: 25%;
  margin: auto;
  margin-top: 17vh;
}

.show, .show2{
  display: none;
}

#textModal{
  margin: 43px;
  font-size: 5.4vw;
  line-height: 7.2vw;
  padding-left: 0%;
  padding-right: 0%;
}

#textModal p {
  margin-bottom: 15px;
}

#newsletter{
  width: calc( 100vw - 84px );
  margin-left: 42px;
  margin-bottom: 43px;
}

.mc-field-group{
  margin-top: 1vh;
}

.mc-field-group label{
  font-size: 5vw;
  margin-top: 2%;
}

.required-email{
  width: 90%;
  margin-left: 5%;
  font-size: 5vw;
  margin-top: 8%;
  height: 50px!important;
  border-radius: 0px;
}

.title{
  height: auto;
  margin-top: 80px;
}

.button{
  font-size: 8vw;
  border: 1px solid black;
  border-radius: 600px;
  background-color: white;
  padding: 3%;
  width: 62%;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

h2{
  display: inline-block;
  margin-top: 0px;
}

.show2 h2{
  margin-left: 43px;
  font-weight: normal;
  font-size: 8vw;
  margin-bottom: 2vh;
}

#button_download2{
  display: inline-block;
  position: inherit;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  font-family: 'menu-Regular';
  color: black;
  font-size: 31px;
  overflow: auto;
  margin-left: 3vw;
  transform: none;
  margin-bottom: -2.3vh;

  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 4s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-duration: 1s;
  animation-delay: 4s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#button_download2:hover{
  display: inline-block;
  position: inherit;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  font-family: 'menu-Regular';
  color: black;
  font-size: 31px;
  overflow: auto;
  margin-left: 3vw;
  transform: none;
  margin-bottom: -2.3vh;
  animation: none;
}

.show2 input{
  width: calc( 100vw - 84px );
  margin-left: 42px;
  height: 70px;
  font-size: 9vw!important;
  padding: 3%;
  box-sizing: border-box;
  border: 1px solid black;
}

.show2 input:last-child{
  margin-top: 2vh!important;
}

.firstInput{
  margin-top: 10px;
}

#credible{
  font-family: 'Credible-Regular';
}

#credible input{
  font-family: 'Credible-Regular';
}

#garamondt{
  font-family: 'Garamondt-Regular';
}

#garamondt input{
  font-family: 'Garamondt-Regular';
}

#garamondt input:last-child{
  font-family: 'Garamondt-Italic';
}

#tribaliumneue{
  font-family: 'TribaliumNeue-Regular';
}

#tribaliumneue input{
  font-family: 'TribaliumNeue-Regular';
}

#tribaliumneue input:last-child{
  font-family: 'TribaliumNeue-Poster';
}

#zara{
  font-family: 'Zara-Regular';
}

#zara input{
  font-family: 'Zara-Regular';
}

#zara input:last-child{
  font-family: 'Zara-Oblique';
}

.button:hover{
  animation: none;
}

#button_download2:hover .picto {
  display: block;
  animation: none;
}

#button_download2:active{
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
}

h1:active{
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
}

mc-embedded-subscribe:active{
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
}

.picto{
  text-align: center;
}
