body {
  font-family: 'Zara-Regular';
  min-height: 100vh;
}

#derriere {
  width: 100%;
  height: 100%;
  position: absolute;
}

#devant > *:not(.menuContainer) {
  z-index: 2;
}

#container {
  width: 90vw;
  height: 80vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 43px;
  margin-bottom: 43px;
  overflow: hidden;
}

.scene {
  width: inherit;
  height: inherit;
  background: url("https://fonderie.download/img/garamonBlanc2.svg") 50% 50% no-repeat local;
  background-size: 70vw;
  position: relative;
}

.loupe {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 240px;
  background-image: url("https://fonderie.download/img/garamonBlanc.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 70vw;
  border-radius: 50%;
  cursor: none;
  opacity: 0;
}

.loupe:hover {
  cursor: none;
}

.loupe.modal-opened, .loupe.modal-opened:hover {
  cursor: default;
  z-index: 0;
  display: none;
}

.info {
  bottom: 43px;
  margin-right: 5vw;
}

#imgInfo {
  display: inline-block;
  width: 20vw;
  margin-left: 40vw;
  margin-bottom: 43px;
}

#imgInfo img {
  display: inline-block;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  animation: gigotte 2s linear alternate infinite;
}

@keyframes gigotte {
    from {
        transform: translateX(-120px) rotate(-10deg);
    }

    30% {
        transform: translateX(50px);
    }

    60% {
        transform: translateX(150px) rotate(30deg);
        color:fuschia;
    }

    80% {
        transform: translate(80px) rotate(60deg);
    }

    to {
        transform: translate(100px) rotate(30deg);

    }
}

#imgInfo img:hover {
  animation-play-state: paused;
}

#txtInfo {
  vertical-align: text-bottom;
  font-family: 'Garamondt-Regular';
  display: inline-block;
  width: 100vw;
  font-size: 2.2vw;
  line-height: 3vw;
  padding-left: 10vw;
  padding-right: 10vw;
  box-sizing: border-box;
  text-align: center;
}

.text {
  font-size: 29px;
  font-family: 'Garamondt-Regular';
  padding-top: 22px;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}
