body{
  font-family: 'Zara-Regular';
  height: 100vh;
  top: 0px;
  position: fixed;
}

#conteneur1, #conteneur2, #conteneur3{
  display: flex;
}

#derriere{
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}

#button_quarantype{
  position: fixed;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#button_quarantype:hover{
  cursor: pointer;
  filter: invert(1);
}

.text {
  font-size: 25px;
  font-family: "Credible-Regular";
  padding-top: 23px;
}

#top2 div {
  display: inline-block;
}

#left{
  width: 33%;
}

#middle{
  text-align: center;
  width: 33%;
}

#right {
  text-align: right;
  width: 33%;
}

#right p{
  float:right;
  -webkit-transition:  0.5s;
  transition:  0.5s;
}

#right p:hover {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.element1{
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.element{
  padding: 40px;
  box-sizing: border-box;
}

.element img{
  width: calc( 50vw - 80px ) ;
  height: calc( 50vh - 80px );
  padding: 0px;
  margin: 0px;
}


@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@keyframes spinner {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

.element p, .element img {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  }

:hover{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
  }

.element2{
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.element3{
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.element4{
  height: 50vh;
  justify-content: center;
  align-items: center;
}

#derriere, #zonefonte{
  margin-top:0px!important;
}

#zonefonte{
  position: fixed;
  height: 100vh;
}

#conteneur1, #conteneur2{
  height: 50vh;
}

.element1Survol{
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
}

/*RESPONSIVE MENU*/
@media (max-width: 600px) {
  .menuContainer {
    margin-left: calc( ( 100vw - 186px ) / 2);
    right: auto;
  }
  #mireMiddleTop{
    display: none;
  }
  .modal-content{
    width: 65vw;
    height: 76vh;
  }
  #textModal{
    font-size: 2.6vw;
    line-height: 3.1vw;
  }
  #newsletter{
    width: 100%;
    margin-left:0%;
  }
}

/*SPECIAL COVID A ENLEVER*/
#COVID{
  z-index:8001;
  position: fixed;
  bottom: 43px;
  left: -40px;
}
#COVID img{
  width:70vw;
  transform: rotate(0deg);
}
