body{
  font-family: 'Zara-Regular';
  height: 100vh;
  top: 0px;
  position: fixed;
}

#mobile{
  display: none;
}

#top{
  position: fixed;
  width: 100%;
  height:8vh;
  text-align: center;
}

#bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:8vh;
  text-align: center;
}

#derriere{
  width: 100vw;
  /*height: 100%;*/
  /*position: absolute;*/
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#derriere p{
  font-size: 4vw;
}

#derriere p:first-child{
  font-family:"Credible-Regular";
  font-size: 5vw;
  font-feature-settings: "ss03";
}

#derriere p:nth-child(2){
  font-size: 3vw;
  margin-top: 9.5vh;
}

#derriere a:hover{
  animation: colorchangetext 0.5s;
  -webkit-animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes colorchangetext{
  0%   {color: red;}
  25%  {color: yellow;}
  50%  {color: blue;}
  75%  {color: green;}
  100% {color: red;}
}

#devant{
  width: 100%;
  height: 100%;
  z-index: 3000;
  position: absolute;
}

#mireMiddleBottom{
  position: fixed;
  width: 25px;
  bottom: 0px; left: 50%;
  transform: translate(-50%, 0%);
  box-sizing: border-box;
}

#mireMiddleTop{
  position: fixed;
  width: 25px;
  top: 0px; left: 50%;
  transform: translate(-50%, 0%);
  box-sizing: border-box;
}

#button_download:hover{
  border-radius:0;
  cursor: pointer;
  width: 350px;
  margin: auto;
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
}

.picto{
  display: block;
}

.text {
  color: black;
  opacity: 0;
  text-align: center;
  padding-top:0px;
  transition: all 0s linear;
  transition: margin-right .3s ease-in-out;
  font-size: 25px;
  font-family: "Credible-Regular";
  margin-right: -500px;
  padding-top: 23px;
  animation-delay: 0.1s;
}

#button_download:hover .picto {
  display: none;
}

#button_download:hover .text {
  opacity: 1;
  margin-right: 0px;
}

#mireMiddleLeft{
  position: fixed;
  width: 25px;
  top: 50%; left: 0%;
  transform: translate(0%, -50%);
  box-sizing: border-box;
}

#mireMiddleRight{
  position: fixed;
  width: 25px;
  top: 50%; right: 0px;
  transform: translate(0%, -50%);
  box-sizing: border-box;
}

#mireTopRight{
  position: fixed;
  width: 25px;
  top: 0%; left: 100%;
  transform: translate(-50%, -30%);
  box-sizing: border-box;
}

#coinTopLeft{
  position: fixed;
  width: 43px;
  top: 0%; left: 0%;
}

#coinTopRight{
  position: fixed;
  width: 43px;
  top: 0%;
  right: 0%;
  transform: rotate(90deg);
}

#coinTopRight{
  position: fixed;
  width: 43px;
  top: 0%;
  right: 0%;
  transform: rotate(90deg);
}

#coinBottomLeft{
  position: fixed;
  width: 43px;
  bottom: 0%;
  left: 0%;
  transform: rotate(-90deg);
}

#coinBottomRight{
  position: fixed;
  width: 43px;
  bottom: 0%;
  right: 0%;
  transform: rotate(180deg);
}

#top2 div {
  display: inline-block;
}

#left{
  width: 33%;
}

#middle{
  text-align: center;
  width: 33%;
}

#right {
  text-align: right;
  width: 33%;
}

#right p{
  float:right;
  -webkit-transition:  0.5s;
  transition:  0.5s;
}

#right p:hover {
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#derriere, #zonefonte{
  margin-top:0px!important;
}

#zonefonte{
  position: fixed;
  height: 100vh;
}

@keyframes colorchange{
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  75%  {background: green;}
  100% {background: red;}
}

/*RESPONSIVE MENU*/

@media (max-width: 600px) {
  .menuContainer {
    margin-left: calc( ( 100vw - 186px ) / 2);
    right: auto;
  }
  #mireMiddleTop{
    display: none;
  }
  .modal-content{
    width: 65vw;
    height: 76vh;
  }
  #textModal{
    font-size: 2.6vw;
    line-height: 3.1vw;
  }
  #newsletter{
    width: 100%;
    margin-left:0%;
  }
}


/*MOBILE*/
@media all and (max-device-width: 480px)
{
  .menuContainer{
    display: none;
  }
  #mireMiddleTop{
    display: block;
  }
  body{
    background-color: yellow;
    width: 100%;
  }
  #derriere{
    display: none;
  }
  #mobile{
    display: block;
    width: 100vw;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #mobile p:first-child{
    font-family:"Credible-Regular";
    font-size: 9.5vw;
    line-height: 16vw;
    font-feature-settings: "ss03";
  }
  #mobile p:nth-child(2){
    font-size: 4.3vw;
    margin-top: 4.5vh;
    margin-bottom: 2vh;
  }
  #mobile p a{
    font-size: 4vw;
  }
}
