body{
  font-family: 'Zara-Regular';
  height: 100vh;
  top: 0px;
  overflow-x: hidden;
}

#mobile{
  display: none;
}

#top{
  position: fixed;
  width: 100%;
  height:8vh;
}

#bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:8vh;
  text-align: center;
}

#devant2{
  width: 100%;
  height: 0px;
  z-index: 3000;
  position: absolute;
}

#mireMiddleBottom{
  position: fixed;
  width: 25px;
  bottom: 0px; left: 50%;
  transform: translate(-50%, 0%);
  box-sizing: border-box;
}

#mireMiddleTop{
  position: fixed;
  width: 25px;
  top: 0px; left: 50%;
  transform: translate(-50%, 0%);
  box-sizing: border-box;
}

#mireMiddle:hover{
  cursor: help;
}

#mireMiddleLeft{
  position: fixed;
  width: 25px;
  top: 50%; left: 0%;
  transform: translate(0%, -50%);
  box-sizing: border-box;
}

#mireMiddleRight{
  position: fixed;
  width: 25px;
  top: 50%; right: 0px;
  transform: translate(0%, -50%);
  box-sizing: border-box;
}

#mireTopRight{
  position: fixed;
  width: 25px;
  top: 0%; left: 100%;
  transform: translate(-50%, -30%);
  box-sizing: border-box;
}

#coinTopLeft{
  position: fixed;
  width: 43px;
  top: 0%; left: 0%;
}

#coinTopRight{
  position: fixed;
  width: 43px;
  top: 0%;
  right: 0%;
  transform: rotate(90deg);
}

#coinTopRight{
  position: fixed;
  width: 43px;
  top: 0%;
  right: 0%;
  transform: rotate(90deg);
}

#coinBottomLeft{
  position: fixed;
  width: 43px;
  bottom: 0%;
  left: 0%;
  transform: rotate(-90deg);
}

#coinBottomRight{
  position: fixed;
  width: 43px;
  bottom: 0%;
  right: 0%;
  transform: rotate(180deg);
}

.contentFont{
  padding: 43px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

#zara{
  font-size: 7.8vw;
  line-height: 8.8vw;
}

.formulaire{
  padding: 43px;
  box-sizing: border-box;
}

#formulaireZara{
  width: calc( 100vw - 86px );
  bottom: 60px;
  border: 1px solid black;
  font-family: 'Zara-Regular';
  color: black;
  opacity: 1;
  font-size: inherit;
  height: 17vw;
  font-size: 7.8vw;
  line-height: 8.8vw;
}

input{
  cursor:text;
  padding: 2%;
  box-sizing: border-box;
}

input:hover{
  cursor: text;
}

#formulaireZara:hover{
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
  box-shadow: 0px!important;
}

input:focus{
outline: none;
}

#flixbus{
  height: 6.8vw;
}

#vent{
  width: 200px;
  border-top: 1px solid black;
  border-bottom: 3px solid white;
  position: relative;
  z-index: 5000;
  animation: vitesse 1s linear infinite;
  -moz-animation: vitesse 1s linear infinite;
  -webkit-animation: vitesse 1s linear infinite;
}

@-webkit-keyframes vitesse {
  0%   {left:110vw; top:15vh;}
  100%  {left:-10vw; top:15vh;}
}

@keyframes vitesse {
  0%   {left:110vw; top:15vh;}
  100%  {left:-10vw; top:15vh;}
}

#vent2{
  width: 150px;
  border-top: 1px solid black;
  border-bottom: 3px solid white;
  position: relative;
  z-index: 5000;
  animation: vitesse2 1s linear infinite;
  -moz-animation: vitesse2 1s linear infinite;
  -webkit-animation: vitesse2 1s linear infinite;
}

@-webkit-keyframes vitesse2 {
  0%   {left:140vw; top:17vh;}
  100%  {left:-10vw; top:17vh;}
}

@keyframes vitesse2 {
  0%   {left:140vw; top:17vh;}
  100%  {left:-10vw; top:17vh;}
}

#vent3{
  width: 300px;
  border-top: 1px solid black;
  border-bottom: 3px solid white;
  position: relative;
  z-index: 5000;
  animation: vitesse3 3s linear infinite;
  -moz-animation: vitesse3 3s linear infinite;
  -webkit-animation: vitesse3 3s linear infinite;
}

@-webkit-keyframes vitesse3 {
  0%   {left:110vw; top:50vh;}
  60%   {left:-100vw; top:50vh;}
  100%  {left:-100vw; top:50vh;}
}

@keyframes vitesse3 {
  0%   {left:110vw; top:50vh;}
  60%   {left:-100vw; top:50vh;}
  100%  {left:-100vw; top:50vh;}
}

#vent4{
  width: 250px;
  border-top: 1px solid black;
  border-bottom: 3px solid white;
  position: relative;
  z-index: 5000;
  animation: vitesse4 2s linear infinite;
  -moz-animation: vitesse4 2s linear infinite;
  -webkit-animation: vitesse4 2s linear infinite;
  position: fixed;
  bottom: 25vh;
}

@-webkit-keyframes vitesse4 {
  0%   {left:110vw;}
  60%   {left:-100vw;}
  100%  {left:-100vw;}
}

@keyframes vitesse4 {
  0%   {left:110vw;}
  60%   {left:-100vw;}
  100%  {left:-100vw;}
}

#vent5{
  width: 150px;
  border-top: 1px solid black;
  border-bottom: 3px solid white;
  position: relative;
  z-index: 5000;
  animation: vitesse5 2.1s linear infinite;
  -moz-animation: vitesse5 2.1s linear infinite;
  -webkit-animation: vitesse5 2.1s linear infinite;
  position: fixed;
  bottom: 20vh;
}

@-webkit-keyframes vitesse5 {
  0%   {left:110vw;}
  60%   {left:-100vw;}
  100%  {left:-100vw;}
}

@keyframes vitesse5 {
  0%   {left:110vw;}
  60%   {left:-100vw;}
  100%  {left:-100vw;}
}

#dechet{
  position: relative;
  z-index: 5000;
  animation: dechet 4s linear infinite;
  -moz-animation: dechet 4s linear infinite;
  -webkit-animation: dechet 4s linear infinite;
}

@-webkit-keyframes dechet {
  0%   {left:140vw; top:30vh;}
  100%  {left:-10vw; top:30vh;}
}

@keyframes dechet {
  0%   {left:140vw; top:30vh;}
  100%  {left:-10vw; top:30vh;}
}

#boulette{
  z-index: 5000;
  width: 80px;
  -webkit-animation:boulette 2s linear infinite;
  -moz-animation:boulette 2s linear infinite;
  animation:boulette 2s linear infinite;
}

@-webkit-keyframes boulette { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes boulette { 100% { -moz-transform: rotate(360deg); } }


.mouv{
  width: 0px;
  position: relative;
  z-index: 5000;
  animation: vitesseB 6s linear infinite;
  -moz-animation: vitesseB 6s linear infinite;
  -webkit-animation: vitesseB 6s linear infinite;
}

@-webkit-keyframes vitesseB {
  0%   {left:110vw;}
  100%  {left:-40vw;}
}

@keyframes vitesseB {
  0%   {left:110vw;}
  100%  {left:-40vw;}
}

.mouv:hover{
  animation-play-state: paused;
}

#button_download{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom:43px;
  right:43px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  font-family: 'menu-Regular';
  color: black;
  font-size: 51px;
  transition: all .3s ease-in-out;
  text-align: center;
  transform-origin: center;
  overflow: hidden;

  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 4s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-duration: 1s;
  animation-delay: 4s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#button_download:hover {
  border-radius:0;
  cursor: pointer;
  width: 300px;
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
}

.picto{
  display: block;
}

.text {
  color: black;
  opacity: 0;
  text-align: center;
  padding-top:0px;
  transition: all 0s linear;
  transition: margin-right .3s ease-in-out;
  font-size: 25px;
  letter-spacing: 1px;
  font-family: 'Zara-Regular';
  margin-right: -500px;
  padding-top: 23px;
  animation: colorchangetexte 0.5s;
  animation-delay: 0.1s;
}

#button_download:hover .picto {
  display: none;
}

#button_download:hover .text {
  opacity: 1;
  margin-right: 0px;
}

@-webkit-keyframes spinner {
  from { -webkit-transform: rotateY(0deg); }
  to { -webkit-transform: rotateY(-360deg); }
 }

 @keyframes spinner {
   from {
     -moz-transform: rotateY(0deg);
     -ms-transform: rotateY(0deg);
     transform: rotateY(0deg);
   }
   to {
     -moz-transform: rotateY(-360deg);
     -ms-transform: rotateY(-360deg);
     transform: rotateY(-360deg);
   }
 }

 #formulaireZara{
   height: 17vw;
 }

/*RESPONSIVE*/

@media (max-width: 1040px) {
  #zara {
    font-size: 7.7vw;
    line-height: 8.7vw;
  }
}

@media (max-width: 900px) {
  #zara {
    font-size: 7.6vw;
    line-height: 8.7vw;
  }
}

@media (max-width: 800px) {
  #zara {
    font-size: 7.5vw;
    line-height: 8.7vw;
  }
}

@media (max-width: 720px) {
  #zara {
    font-size: 7.4vw;
    line-height: 8.5vw;
  }
}

@media (max-width: 600px) {
  #zara {
    font-size: 7vw;
    line-height: 8.5vw;
  }
}

@media (max-width: 460px) {
  #zara {
    font-size: 6.5vw;
    line-height: 8.5vw;
  }
}

@media (max-width: 1200px) {
  #formulaireZara {
    height: 27vw;
  }
}

@media (max-width: 800px) {
  #formulaireZara {
    height: 57vw;
  }
}

@media (max-width: 600px) {
  #formulaireZara {
    height: 87vw;
  }
}

@media (max-width: 600px) {
  .menuContainer {
    margin-left: calc( ( 100vw - 186px ) / 2);
    right: auto;
  }
  #mireMiddleTop{
    display: none;
  }
  .modal-content{
    width: 65vw;
    height: 76vh;
  }
  #textModal{
    font-size: 2.6vw;
    line-height: 3.1vw;
  }
  #newsletter{
    width: 100%;
    margin-left:0%;
  }
}

/*MOBILE*/
@media all and (max-device-width: 480px)
{

#mireMiddleTop{
    display: block;
  }

#devant2, #container, #button_download{
  display: none;
}

#mobile{
  display: block;
}

body{
  background-color: yellow;
  width: 100%;
  position: absolute;
  line-height: normal;
}

#logofonderiedownload{
  width: calc( 100vw - 86px );
  margin-left: 43px;
  margin-top: 52px;
}

#about{
  margin-bottom: 86px;
}

h1{
  font-weight: normal;
  text-align: center;
  font-size: 8vw;
  border: 1px solid black;
  border-radius: 600px;
  background-color: white;
  padding: 3%;
  width: 25%;
  margin: auto;
  margin-top: 17vh;
}

.show, .show2{
  display: none;
}

#textModal{
  margin: 43px;
  font-size: 5.4vw;
  line-height: 7.2vw;
  padding-left: 0%;
  padding-right: 0%;
}

#textModal p {
  margin-bottom: 15px;
}

#newsletter{
  width: calc( 100vw - 84px );
  margin-left: 42px;
  margin-bottom: 43px;
}

.mc-field-group label{
  font-size: 5vw;
  margin-top: 2%;
}

.required-email{
  width: 90%;
  margin-left: 5%;
  font-size: 5vw;
  margin-top: 8%;
}

.title{
  height: auto;
  margin-top: 80px;
}

.button{
  font-size: 5vw;
}

h2{
  display: inline-block;
  margin-top: 0px;
}

.show2 h2{
  margin-left: 43px;
  font-weight: normal;
  font-size: 8vw;
  margin-bottom: 2vh;
}

#button_download2{
  display: inline-block;
  position: inherit;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  font-family: 'menu-Regular';
  color: black;
  font-size: 31px;
  overflow: auto;
  margin-left: 3vw;
  transform: none;
  margin-bottom: -2.3vh;

  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 4s;

  animation-name: spinner;
  animation-timing-function: linear;
  animation-iteration-count: 2;
  animation-duration: 1s;
  animation-delay: 4s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#button_download2 a{
  text-align: center;
}

#button_download2:hover{
  display: inline-block;
  position: inherit;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  font-family: 'menu-Regular';
  color: black;
  font-size: 31px;
  overflow: auto;
  margin-left: 3vw;
  transform: none;
  margin-bottom: -2.3vh;
  animation: none;
}

.show2 input{
  width: calc( 100vw - 84px );
  margin-left: 42px;
  height: 70px;
  font-size: 9vw!important;
  padding: 3%;
  box-sizing: border-box;
  border: 1px solid black;
}

.show2 input:last-child{
  margin-top: 2vh!important;
}

.firstInput{
  margin-top: 10px;
}

#credible{
  font-family: 'Credible-Regular';
}

#credible input{
  font-family: 'Credible-Regular';
}

#garamondt{
  font-family: 'Garamondt-Regular';
}

#garamondt input{
  font-family: 'Garamondt-Regular';
}

#garamondt input:last-child{
  font-family: 'Garamondt-Italic';
}

#tribalium{
  font-family: 'Tribalium-Regular';
}

#tribalium input{
  font-family: 'Tribalium-Regular';
}

#tribalium input:last-child{
  font-family: 'Tribalium-Poster';
}

#zara{
  font-family: 'Zara-Regular';
}

#zara input{
  font-family: 'Zara-Regular';
}

#zara input:last-child{
  font-family: 'Zara-Oblique';
}

.button:hover{
  animation: none;
}

#button_download2:hover .picto {
  display: block;
  animation: none;
}

#button_download2:active{
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
}

h1:active{
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
}

mc-embedded-subscribe:active{
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
}

.picto{
  line-height: normal;
}
