body{
  font-family: 'Zara-Regular';
  height: 100vh;
  top: 0px;
  overflow: hidden;
}

#devant2{
  width: 100%;
  height: 0px;
  z-index: 3000;
  position: absolute;
}

.contentFont{
  padding: 43px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

#sticker1{
  z-index: 1;
  position: fixed;
  margin-left: 20vw;
  top:10vh;
  width: 15vw;
  -webkit-animation:sticker1 5s linear infinite;
  -moz-animation:sticker1 5s linear infinite;
  animation:sticker1 5s linear infinite;
}

#sticker2{
  z-index: -1;
  position: fixed;
  margin-left: 43px;
  bottom: 43px;
  width: 28vw;
  -webkit-animation:sticker2 10s linear infinite;
  -moz-animation:sticker2 10s linear infinite;
  animation:sticker2 10s linear infinite;
}

#sticker3{
  z-index: 1;
  right: -5vw;
  position: fixed;
  top: 86px;
  width: 35vw;
  -webkit-animation:sticker3 8s linear infinite;
  -moz-animation:sticker3 8s linear infinite;
  animation:sticker3 8s linear infinite;
}

#sticker4{
  z-index: -1;
  right: 20vw;
  position: fixed;
  bottom: 15vh;
  width: 20vw;
  -webkit-animation:sticker2 7s linear infinite;
  -moz-animation:sticker2 7s linear infinite;
  animation:sticker2 7s linear infinite;
}

#sticker5{
  z-index: -1;
  left:43px;
  top:43px;
  position: fixed;
  width: 10vw;
  -webkit-animation:sticker2 7s linear infinite;
  -moz-animation:sticker2 7s linear infinite;
  animation:sticker2 7s linear infinite;
}

@-webkit-keyframes sticker1 { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes sticker1 { 100% { -moz-transform: rotate(360deg); } }

@-webkit-keyframes sticker2 { 100% { -webkit-transform: rotate(-360deg); } }
@-moz-keyframes sticker2 { 100% { -moz-transform: rotate(-360deg); } }

@-webkit-keyframes sticker3 { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes sticker3 { 100% { -moz-transform: rotate(360deg); } }

#container{
  text-align: center;
}

#credits{
  position: relative;
  animation: vitesse 90s linear infinite;
  -moz-animation: vitesse 90s linear infinite;
  -webkit-animation: vitesse 90s linear infinite;
}

#h1mobile, #h2mobile{
  display: none;
}

#credits h1{
  font-family: 'Quarantype-Regular';
  font-size: 7vw;
  line-height: 4.4vw;
  margin-bottom: 15vh;
  font-weight: lighter!important;
}

#credits h2{
  font-family: 'Quarantype-Regular';
  font-size: 3vw;
  line-height: 3.9vw;
  margin-bottom: 1.5vh;
  font-weight: lighter!important;
}

#credits h3{
  font-family: 'Quarantype-Regular';
  font-size: 5vw;
  line-height: 3.2vw;
  margin-bottom: 30vh;
  font-weight: lighter!important;
}

#credits li{
  font-family: 'Quarantype-Regular';
  font-size: 5vw;
  line-height: 6.5vw;
  font-weight: lighter!important;
  background-color: transparent;
}

@-webkit-keyframes vitesse {
  0%   {top:110vh;}
  100%  {top:-700vh;}
}

.intro{
  font-family: 'Quarantype-Regular';
  font-size: 3vw;
  line-height: 3.2vw;
  margin-bottom: 8vh;
  font-weight: lighter!important;
}

.outro{
  font-family: 'Quarantype-Regular';
  font-size: 3vw;
  line-height: 3.2vw;
  margin-top: 15vh;
  font-weight: lighter!important;
}

.text {
  font-size: 25px;
  letter-spacing: 1px;
  font-family: 'Quarantype-Regular';
  padding-top: 23px;
}

/*RESPONSIVE*/

@media (max-width: 600px) {
  .menuContainer {
    margin-left: calc( ( 100vw - 186px ) / 2);
    right: auto;
  }
  #mireMiddleTop{
    display: none;
  }
  .modal-content{
    width: 65vw;
    height: 76vh;
  }
  #textModal{
    font-size: 2.6vw;
    line-height: 3.1vw;
  }
  #newsletter{
    width: 100%;
    margin-left:0%;
  }
}

@media (min-width: 1000px) {
  #credits{
    position: relative;
    animation: vitesse 115s linear infinite;
    -moz-animation: vitesse 115s linear infinite;
    -webkit-animation: vitesse 115s linear infinite;
  }

@-webkit-keyframes vitesse {
  0%   {top:110vh;}
  100%  {top:-1050vh;}
}
}

@media all and (max-device-width: 480px){
    #sticker1, #sticker4, #sticker5{
        display: none
    }
    #sticker2{
        margin-left: -43px;
        bottom: 43px;
        width: 60vw;
    }
    #sticker3{
        top: 16vh;
    }
    #h1desktop{
        display: none;
    }
    #h1mobile{
        display: block;
        border: 0px;
        border-radius: 0%;
        text-align: center;
        width: auto;
        background-color: transparent;
    }
    #credits h1{
        font-size:14vw; 
        line-height: 15vw;
        margin-top: 0px;
    }
    #credits h2 {
        font-size: 9vw;
        line-height: 9.9vw;
        margin-bottom: 1.5vh;
        width: 80vw;
    }
    #credits h3{
        font-size: 13vw;
        line-height: 9.9vw;
        margin-bottom: 15vh;
    }
    .intro, .outro{
        font-size: 6vw;
    }
    #credits li{
        font-size: 7vw;
        line-height: 8.5vw;
    }
 

}