body{
  font-family: 'Zara-Regular';
  height: 100vh;
  top: 0px;
  overflow-x: hidden;
}

#devant2{
  width: 100%;
  height: 0px;
  z-index: 3000;
  position: absolute;
}

.contentFont{
  padding: 43px;
  padding-bottom: 0px;
  box-sizing: border-box;
}

#zara{
  font-size: 7.8vw;
  line-height: 8.8vw;
}

.formulaire{
  padding: 43px;
  box-sizing: border-box;
}

#formulaireZara{
  width: calc( 100vw - 86px );
  bottom: 60px;
  border: 1px solid black;
  font-family: 'Zara-Regular';
  color: black;
  opacity: 1;
  font-size: inherit;
  height: 17vw;
  font-size: 7.8vw;
  line-height: 8.8vw;
}

input{
  cursor:text;
  padding: 2%;
  box-sizing: border-box;
}

input:hover{
  cursor: text;
}

#formulaireZara:hover{
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
  box-shadow: 0px!important;
}

input:focus{
outline: none;
}

#flixbus{
  height: 6.8vw;
}

#vent{
  width: 200px;
  border-top: 1px solid black;
  border-bottom: 3px solid white;
  position: relative;
  z-index: 5000;
  animation: vitesse 1s linear infinite;
  -moz-animation: vitesse 1s linear infinite;
  -webkit-animation: vitesse 1s linear infinite;
}

@-webkit-keyframes vitesse {
  0%   {left:110vw; top:15vh;}
  100%  {left:-10vw; top:15vh;}
}

@keyframes vitesse {
  0%   {left:110vw; top:15vh;}
  100%  {left:-10vw; top:15vh;}
}

#vent2{
  width: 150px;
  border-top: 1px solid black;
  border-bottom: 3px solid white;
  position: relative;
  z-index: 5000;
  animation: vitesse2 1s linear infinite;
  -moz-animation: vitesse2 1s linear infinite;
  -webkit-animation: vitesse2 1s linear infinite;
}

@-webkit-keyframes vitesse2 {
  0%   {left:140vw; top:17vh;}
  100%  {left:-10vw; top:17vh;}
}

@keyframes vitesse2 {
  0%   {left:140vw; top:17vh;}
  100%  {left:-10vw; top:17vh;}
}

#vent3{
  width: 300px;
  border-top: 1px solid black;
  border-bottom: 3px solid white;
  position: relative;
  z-index: 5000;
  animation: vitesse3 3s linear infinite;
  -moz-animation: vitesse3 3s linear infinite;
  -webkit-animation: vitesse3 3s linear infinite;
}

@-webkit-keyframes vitesse3 {
  0%   {left:110vw; top:50vh;}
  60%   {left:-100vw; top:50vh;}
  100%  {left:-100vw; top:50vh;}
}

@keyframes vitesse3 {
  0%   {left:110vw; top:50vh;}
  60%   {left:-100vw; top:50vh;}
  100%  {left:-100vw; top:50vh;}
}

#vent4{
  width: 250px;
  border-top: 1px solid black;
  border-bottom: 3px solid white;
  position: relative;
  z-index: 5000;
  animation: vitesse4 2s linear infinite;
  -moz-animation: vitesse4 2s linear infinite;
  -webkit-animation: vitesse4 2s linear infinite;
  position: fixed;
  bottom: 25vh;
}

@-webkit-keyframes vitesse4 {
  0%   {left:110vw;}
  60%   {left:-100vw;}
  100%  {left:-100vw;}
}

@keyframes vitesse4 {
  0%   {left:110vw;}
  60%   {left:-100vw;}
  100%  {left:-100vw;}
}

#vent5{
  width: 150px;
  border-top: 1px solid black;
  border-bottom: 3px solid white;
  position: relative;
  z-index: 5000;
  animation: vitesse5 2.1s linear infinite;
  -moz-animation: vitesse5 2.1s linear infinite;
  -webkit-animation: vitesse5 2.1s linear infinite;
  position: fixed;
  bottom: 20vh;
}

@-webkit-keyframes vitesse5 {
  0%   {left:110vw;}
  60%   {left:-100vw;}
  100%  {left:-100vw;}
}

@keyframes vitesse5 {
  0%   {left:110vw;}
  60%   {left:-100vw;}
  100%  {left:-100vw;}
}

#dechet{
  position: relative;
  z-index: 5000;
  animation: dechet 4s linear infinite;
  -moz-animation: dechet 4s linear infinite;
  -webkit-animation: dechet 4s linear infinite;
}

@-webkit-keyframes dechet {
  0%   {left:140vw; top:30vh;}
  100%  {left:-10vw; top:30vh;}
}

@keyframes dechet {
  0%   {left:140vw; top:30vh;}
  100%  {left:-10vw; top:30vh;}
}

#boulette{
  z-index: 5000;
  width: 80px;
  -webkit-animation:boulette 2s linear infinite;
  -moz-animation:boulette 2s linear infinite;
  animation:boulette 2s linear infinite;
}

@-webkit-keyframes boulette { 100% { -webkit-transform: rotate(360deg); } }
@-moz-keyframes boulette { 100% { -moz-transform: rotate(360deg); } }


.mouv{
  width: 0px;
  position: relative;
  z-index: 5000;
  animation: vitesseB 6s linear infinite;
  -moz-animation: vitesseB 6s linear infinite;
  -webkit-animation: vitesseB 6s linear infinite;
}

@-webkit-keyframes vitesseB {
  0%   {left:110vw;}
  100%  {left:-40vw;}
}

@keyframes vitesseB {
  0%   {left:110vw;}
  100%  {left:-40vw;}
}

.mouv:hover{
  animation-play-state: paused;
}

.text {
  font-size: 25px;
  letter-spacing: 1px;
  font-family: 'Zara-Regular';
  padding-top: 23px;
}

#button_download:hover .picto {
  display: none;
}

#button_download:hover .text {
  opacity: 1;
  margin-right: 0px;
}

 #formulaireZara{
   height: 17vw;
 }

/*RESPONSIVE*/

@media (max-width: 1040px) {
  #zara {
    font-size: 7.7vw;
    line-height: 8.7vw;
  }
}

@media (max-width: 900px) {
  #zara {
    font-size: 7.6vw;
    line-height: 8.7vw;
  }
}

@media (max-width: 800px) {
  #zara {
    font-size: 7.5vw;
    line-height: 8.7vw;
  }
}

@media (max-width: 720px) {
  #zara {
    font-size: 7.4vw;
    line-height: 8.5vw;
  }
}

@media (max-width: 600px) {
  #zara {
    font-size: 7vw;
    line-height: 8.5vw;
  }
}

@media (max-width: 460px) {
  #zara {
    font-size: 6.5vw;
    line-height: 8.5vw;
  }
}

@media (max-width: 1200px) {
  #formulaireZara {
    height: 27vw;
  }
}

@media (max-width: 800px) {
  #formulaireZara {
    height: 57vw;
  }
}

@media (max-width: 600px) {
  #formulaireZara {
    height: 87vw;
  }
}

@media (max-width: 600px) {
  .menuContainer {
    margin-left: calc( ( 100vw - 186px ) / 2);
    right: auto;
  }
  #mireMiddleTop{
    display: none;
  }
  .modal-content{
    width: 65vw;
    height: 76vh;
  }
  #textModal{
    font-size: 2.6vw;
    line-height: 3.1vw;
  }
  #newsletter{
    width: 100%;
    margin-left:0%;
  }
}

@media all and (max-device-width: 480px){
    body{
        overflow: hidden;
        max-width: 100vw;
        max-height: 100vh;
    }
    .contentFont{
        margin-top: 10vh;
    }
    #zara {
        font-size: 10vw;
        line-height: 12vw;
    }
    #flixbus {
        height: 8vw;
    }
    #formulaireZara {
        height: 60vw;
        font-size: 25vw;
    }
    @-webkit-keyframes dechet {
        0%   {left:140vw; top:30vh;}
        100%  {left:-30vw; top:30vh;}
    }
    @keyframes dechet {
        0%   {left:140vw; top:30vh;}
        100%  {left:-30vw; top:30vh;}
    }
    @-webkit-keyframes vitesse {
        0%   {left:110vw; top:15vh;}
        100%  {left:-10vw; top:15vh;}
    }
    @keyframes vitesse {
        0%   {left:110vw; top:15vh;}
        100%  {left:-10vw; top:15vh;}
    }
    @-webkit-keyframes vitesse2 {
        0%   {left:140vw; top:17vh;}
        100%  {left:-10vw; top:17vh;}
    }
    @keyframes vitesse2 {
        0%   {left:140vw; top:17vh;}
        100%  {left:-10vw; top:17vh;}
    }
}