body{
  font-family: 'Zara-Regular';
  height: 100vh;
  overflow: hidden;
}

#fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.element1Survol{
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
}

.text{
  font-family: 'Beast-Regular';
  font-size: 35px;
}

.table-container1, .table-container2, .table-container3, .table-container4, .table-container5, .table-container6, .table-container7{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(75%);
}

.table-container2, .table-container3, .table-container4, .table-container5, .table-container6, .table-container7{
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
}

 table{
  font-family: 'Beast-Regular';
  border-collapse: collapse;
}

td{
  text-align: center;
  width: 1.25vw;
  font-size: 1.25vw;
}

.text-centre{
  font-size: 2.5vw;
  line-height: 3vw;
  text-align: left;
  vertical-align: top;
}

.text-middle{
  font-size: 2.5vw;
  line-height: 3vw;
  text-align: center;
  vertical-align: middle;
}

.text-table{
  vertical-align: middle;
}

.text-right{
  font-size: 2.5vw;
  line-height: 3vw;
  text-align: right;
  vertical-align: middle;
}

.version{
  font-size: 2vw;
  vertical-align: bottom;
}

.input-centre{
  vertical-align: top;
}

.fleche-bas, .fleche-bas2, .fleche-bas3, .fleche-bas4, .fleche-bas5, .fleche-bas6{
  font-size: 1.6vw;
  animation: clignote 1s ease 0s infinite normal forwards;
  vertical-align: middle;
  text-align: right
}

.fleche-bas, .fleche-bas2, .fleche-bas3, .fleche-bas4, .fleche-bas5, .fleche-bas6:hover{
  cursor: pointer
}

@keyframes clignote {
  0%   { opacity:0; }
  49% { opacity:0; }
  50%   { opacity:1; }
  99% { opacity:1; }
  100% { opacity:0; }
}

.img-ecran-jeu{
  width:34vw;
  float=left;
  shape-outside: content-box"    
}

.try-text{
  width: 98%;
  padding: 0px;
  margin-right: 2%;
  font-family: "Beast-Regular";
  font-size: 2.5vw;
  line-height: 3vw;
  border: none;
  outline: none;
  resize: none;
}

.anim-ecran1{
    vertical-align: top;
}

.anim-ecran1 div{
    animation: anim-tourne 2s  infinite normal forwards;
    font-size: 4.5vw;
    transform-origin: center;
    margin-top: 3.5vh;
}

@keyframes anim-tourne {
    	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

.table-container1{
    animation: animTC1 0.5s ease 0s 1 normal forwards;
}

@keyframes animTC1 {
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(75%);
	}
}


.table-container2, .table-container3, .table-container4, .table-container5, .table-container6, .table-container7{
    animation: animTC 0.25s ease 0s 1 normal forwards;
}

@keyframes animTC {
	0% {
		transform: scale(0.75);
	}

	50% {
		transform: scale(0.85);
	}

	100% {
		transform: scale(0.75);
	}
}


.animate-text { 
	visibility:hidden;
}

.table-container5 a:hover{
  animation: colorchange-text 0.5s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: infinite;
}


/* RESPONSIVE */
@media (max-width: 600px) {
  .menuContainer {
    margin-left: calc( ( 100vw - 186px ) / 2);
    right: auto;
  }
  #mireMiddleTop{
    display: none;
  }
  .modal-content{
    width: 65vw;
    height: 76vh;
  }
  #textModal{
    font-size: 2.6vw;
    line-height: 3.1vw;
  }
  #newsletter{
    width: 100%;
    margin-left:0%;
  }
}
/*RESPONSIVE MENU*/
@media (max-width: 600px) {
  .menuContainer {
    margin-left: calc( ( 100vw - 186px ) / 2);
    right: auto;
  }
  #mireMiddleTop{
    display: none;
  }
  .modal-content{
    width: 65vw;
    height: 76vh;
  }
  #textModal{
    font-size: 2.6vw;
    line-height: 3.1vw;
  }
  #newsletter{
    width: 100%;
    margin-left:0%;
  }
}

@media all and (max-device-width: 480px){

.table-container1, .table-container2, .table-container3, .table-container4, .table-container5, .table-container6, .table-container7{
  transform: scale(100%);
}
    table{
        transform: scale(0.85);
    }    

    .anim-ecran1 div {
  margin-top: 1.5vh;
}
    
    .version{
  font-size: 2vw;
    }
    
    
    
}