body{
  font-family: "TribaliumNeue-Regular";
  height: 100vh;
  top: 0px;
  color: white;
  background-color: black;
  overflow-x: hidden;
}

#common-template img{
  filter: invert(1);
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  -ms-filter: invert(1);
}

/* COURBE */

svg {
  width: 70vw;
  height: 700px;
  margin: 0 auto;
  display: block;
  animation: bounce 5s ease-in-out;
  -moz-animation: bounce 5s ease-in-out;
  -webkit-animation: bounce 5s  ease-in-out;
  }

@-webkit-keyframes bounce {
  0%   {width:40vw; opacity: 0.2;}
  100%  {width: 70vw; opacity: 1;}
}

@keyframes bounce {
  0%   {width:40vw; opacity: 0.2;}
  100%  {width: 70vw; opacity: 1;}
}

path {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-dashoffset: 0;
}

/* FIN COURBE */

input{
  cursor:text;
  padding: 2%;
  box-sizing: border-box;
}

input:hover{
  cursor: text;
}

input:focus{
  outline: none;
}

#texteTribalium{
  display: block;
  width: 100vw;
  animation: opacity 10s ease-in-out;
  -moz-animation: opacity 10s ease-in-out;
  -webkit-animation: opacity 10s  ease-in-out;
}

#texteTribalium-mobile{
    display: none;
}

@-webkit-keyframes opacity {
  0%   {opacity: 0; }
  100%  {opacity: 1;}
}

@keyframes opacity {
    0%   {opacity: 0; }
    100%  {opacity: 1;}
}

#texteTribalium span{
  animation: typo 1s infinite ease-in-out;
  -moz-animation: typo 1s infinite ease-in-out;
  -webkit-animation:typo 1s infinite ease-in-out;
}

@-webkit-keyframes typo {
  0%   {font-family:"TribaliumNeue-Regular" ; opacity: 1;}
  33%   {font-family:"TribaliumNeue-Poster" ; opacity: 1;}
  66%   {font-family:"TribaliumNeue-Regular" ; opacity: 1;}
  100%  {font-family:"TribaliumNeue-Poster"; opacity: 1 ;}
}

@keyframes typo {
    0%   {font-family:"TribaliumNeue-Regular" ; opacity: 1;}
    33%   {font-family:"TribaliumNeue-Poster" ; opacity: 1;}
    66%   {font-family:"TribaliumNeue-Regular" ; opacity: 1;}
    100%  {font-family:"TribaliumNeue-Poster"; opacity: 1 ;}
}

.ligneUn{
  font-size: 5.7vw;
  text-align: center;
}

.ligneDeux{
  font-family: "TribaliumNeue-Poster";
  font-size: 7.65vw;
  line-height: 7.6vw;
  text-align:center;
  letter-spacing: 2px;
}

.esperluette{
    margin-top: 3.8vw;
    font-size: 10vw;
    text-align: center;
}

.ligneTrois{
  font-family: "TribaliumNeue-Poster";
  font-size: 4.7vw;
  line-height: 9.3vw;
  text-align:center;
  height: 12vh;
}

.ligneQuatre{
  margin-top: 7vw;
  font-size: 4.9vw;
  line-height: 3.5vw;
  text-align: center;
}

.ligneCinq{
  font-size: 6.45vw;
  line-height: 11.5vw;
  text-align: center;
  margin-bottom: 140px;
}

.formulaireTribalium{
  margin: 0 auto;
  border: 1px solid white;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 8vw;
  width: 60vw;
  height: 17vw;
  display: block;
}

.formulaireTribalium:hover{
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
  box-shadow: 0px!important;
}

#regular{
  font-family: "TribaliumNeue-Regular";
  margin-top: 6vw;
}

#poster{
  font-family: "TribaliumNeue-Poster";
  margin-top: 2vw;
  letter-spacing: 2px;
}

#button_download{
  border: 1px solid white;
  background-color: black;
  color: white;
}

.picto{
  color: white;
}

.text {
  color: white;
  font-size: 24px;
  font-family: "TribaliumNeue-Regular";
  padding-top: 25px;
}

 /*MENU LAISSÉ ICI À CAUSE DE L'INVERSION NOIR ET BLANC*/

 a{
   color: white;
 }

 a:visited{
   color: white;
 }

 .menuEntree{
   border-left: 1px solid white;
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   background-color: black;
 }

 .menuEntreeLast{
   border-left: 1px solid white;
   border-top: 1px solid white;
   border-right: 1px solid white;
   border-bottom: 1px solid white;
   background-color: black;
 }

 #actif{
   background-color: white;
 }

 #actif a{
   color: black;
 }

/*FIN MENU*/

 /*MODAL LAISSÉ ICI À CAUSE DE L'INVERSION NOIR ET BLANC*/

 .modal-content{
   color: black;
   font-family: 'Zara-Regular';
   border: 1px solid white;
 }

 button.trigger{
   background-color: white;
 }

 #logofonderiedownload{
   filter: none!important;
   -webkit-filter: none!important;
   -moz-filter: none!important;
   -o-filter: none!important;
   -ms-filter: none!important;
 }

 #textModal a{
   color:black;
 }

 #newsletter{
   background-color: black;
   color: white;
 }

 .button{
   background-color: white;
   color: black;
 }

 /*FIN MODAL*/


/* RESPONSIVE */

@media (max-width: 800px) {
  svg {
    height: 450px;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  svg {
    height: 500px;
  }
}

@media (min-width: 800px) {
  svg {
    height: 700px;
  }
}

@media (max-width: 600px) {
  .menuContainer {
    margin-left: calc( ( 100vw - 186px ) / 2);
    right: auto;
  }
  #mireMiddleTop{
    display: none;
  }
  .modal-content{
    width: 65vw;
    height: 76vh;
  }
  #textModal{
    font-size: 2.6vw;
    line-height: 3.1vw;
  }
  #newsletter{
    width: 100%;
    margin-left:0%;
  }
}

@media all and (max-device-width: 480px){
    svg{
        width: 90vw;
        height: 40vh;
        display: block;
        margin-top: 15vh;
        animation: bounce-mobile 5s ease-in-out;
        -moz-animation: bounce-mobile 5s ease-in-out;
        -webkit-animation: bounce-mobile 5s  ease-in-out;
    }
    @-webkit-keyframes bounce-mobile {
        0%   {width:40vw; opacity: 0.2;}
        100%  {width: 90vw; opacity: 1;}
    }
    @keyframes bounce-mobile 2
        0%   {width:40vw; opacity: 0.2;}
        100%  {width: 90vw; opacity: 1;}
    }
    #texteTribalium{
        display: none
    }
    #texteTribalium-mobile{
        display: block;
        width: 100vw;
        animation: opacity 10s ease-in-out;
        -moz-animation: opacity 10s ease-in-out;
        -webkit-animation: opacity 10s  ease-in-out;
    }
    @-webkit-keyframes opacity {
        0%   {opacity: 0; }
        100%  {opacity: 1;}
    }
    @keyframes opacity {
        0%   {opacity: 0; }
        100%  {opacity: 1;}
    }
    #texteTribalium-mobile span{
        animation: typo 1s infinite ease-in-out;
        -moz-animation: typo 1s infinite ease-in-out;
        -webkit-animation:typo 1s infinite ease-in-out;
    }
    @-webkit-keyframes typo {
        0%   {font-family:"TribaliumNeue-Regular" ; opacity: 1;}
        33%   {font-family:"TribaliumNeue-Poster" ; opacity: 1;}
        66%   {font-family:"TribaliumNeue-Regular" ; opacity: 1;}
        100%  {font-family:"TribaliumNeue-Poster"; opacity: 1 ;}
    }
    @keyframes typo {
        0%   {font-family:"TribaliumNeue-Regular" ; opacity: 1;}
        33%   {font-family:"TribaliumNeue-Poster" ; opacity: 1;}
        66%   {font-family:"TribaliumNeue-Regular" ; opacity: 1;}
        100%  {font-family:"TribaliumNeue-Poster"; opacity: 1 ;}
    }
    .ligneUn-mobile{
        font-size: 5.2vw;
        text-align: center;
    }
    .ligneDeux-mobile{
        font-family: "TribaliumNeue-Poster";
        font-size: 14.5vw;
        line-height: 13.6vw;
        text-align:center;
        letter-spacing: 2px;
    }
    .esperluette-mobile{
        margin-top: 4vw;
        font-size: 13vw;
        text-align: center;
    }
    .ligneTrois-mobile{
        font-family: "TribaliumNeue-Poster";
        font-size: 7.3vw;
        line-height: 9.3vw;
        text-align:center;
        height: 5vh;
        margin-top:30px
    }
    
    .ligneTroisBis-mobile{
        font-family: "TribaliumNeue-Poster";
        font-size: 11.2vw;
        line-height: 11vw;
        text-align:center;
        height: 12vh;
    }
    
    .ligneQuatre-mobile{
        margin-top: 7vw;
        font-size: 4.5vw;
        line-height: 3.5vw;
        text-align: center;
    }

    .ligneCinq-mobile{
        font-size: 5.9vw;
        line-height: 11.5vw;
        text-align: center;
        margin-bottom: 140px;
    }

    .formulaireTribalium-mobile{
        margin: 0 auto;
        border: 1px solid white;
        background-color: black;
        color: white;
        text-align: center;
        font-size: 13vw;
        height: 22vw;
        display: block;
        width: calc( 100vw - 86px )
    }

    .formulaireTribalium-mobile:hover{
        animation: colorchange 0.5s;
        -webkit-animation-iteration-count: infinite;
        box-shadow: 0px!important;
    }

    #regular-mobile{
        font-family: "TribaliumNeue-Regular";
         margin-top: 2vw;
    }

    #poster-mobile{
        font-family: "TribaliumNeue-Poster";
        margin-top: 2.2vw;
        letter-spacing: 2px;
    }
}