body{
  font-family: 'Zara-Regular';
  height: 100vh;
  overflow: hidden;
}

#fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.element1Survol{
  animation: colorchange 0.5s;
  -webkit-animation-iteration-count: infinite;
}

.grid-container{
    width: calc( 100vw - 86px)
}



/* RESPONSIVE */
@media (max-width: 600px) {
  .menuContainer {
    margin-left: calc( ( 100vw - 186px ) / 2);
    right: auto;
  }
  #mireMiddleTop{
    display: none;
  }
  .modal-content{
    width: 65vw;
    height: 76vh;
  }
  #textModal{
    font-size: 2.6vw;
    line-height: 3.1vw;
  }
  #newsletter{
    width: 100%;
    margin-left:0%;
  }
}
/*RESPONSIVE MENU*/
@media (max-width: 600px) {
  .menuContainer {
    margin-left: calc( ( 100vw - 186px ) / 2);
    right: auto;
  }
  #mireMiddleTop{
    display: none;
  }
  .modal-content{
    width: 65vw;
    height: 76vh;
  }
  #textModal{
    font-size: 2.6vw;
    line-height: 3.1vw;
  }
  #newsletter{
    width: 100%;
    margin-left:0%;
  }
}
